body{
  margin: 0 auto;
  font-family: helvetica;
  font-size: 22px;
  background-color: black;
  color: seashell;
  opacity: 0.9;
  text-align: center;
}

header{
  height:69px;  width:100%;
  background-color: black;
  border-bottom: 1px solid seashell;
  position: fixed; z-index: 1;
  vertical-align: middle; /* doesn't work on logo*/
  display: flex;
}
.logo{
  /*background-image: url(../images/img-tea-cozy-logo.png); width: auto; -//only appears when actual diementions are used-
  flex: 1 1 264px;
  display: block;*/
  position: relative; top:9.5px; left:10px;  /*total padding-left = 10px*/
}
header ul{
  position: absolute; right: 9.5px; /*header padding =9.5*/
}
header li{
  display: inline-block;
  text-transform: capitalize;
  padding-right: 20px;
}
header a{
  color: seashell;
}
/*============= end header ==================*/
.our-mission-wrapper{
  background-image: url(../images/img-mission-background.jpg);
  width:1200px; height: 700px;
  position: relative; top: 70px;
  padding: 20px;
  display:inline-flex;  /* inline-flex, centered background*/
  align-items: center;  /* v-aligns block elements inside flex container */
}
h2,
h4{
  text-transform: capitalize;
  background-color: black;

  }
